/* header and nav layout */
header {
  position: relative;
  padding-bottom: 34px;
  z-index: 10;
}

header .header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  background-color: var(--colors-brand);
  height: 64px;
  box-sizing: border-box;
}

header nav a:any-link {
  color: currentcolor;
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
}

header nav .nav-brand a:has(.icon-fcbayern) {
  display: grid;
  align-items: center;
  column-gap: 12px;
  grid-template-columns: 32px 1fr;
}

header nav .nav-brand a:has(.icon-fcbayern) {
  display: grid;
  align-items: center;
  column-gap: 12px;
  grid-template-columns: 32px 1fr;
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header nav .nav-brand a:has(.icon-fcbayern) div span {
  margin-right: 6px;
}

header nav .nav-brand a:has(.icon-fcbayern) div span:last-of-type {
  display: none;
}

header nav .nav-brand .icon-fcbayern {
  display: flex;
  cursor: pointer;
}

header nav .nav-brand ul {
  display: none;
}

/* actions */
header nav .nav-actions {
  display: flex;
  gap: 6px;
  place-content: center center;
}

header nav .nav-actions a:has(.icon-telekom) {
  display: flex;
}

header nav .nav-actions a .icon-telekom {
  display: flex;
  align-items: center;
}

header nav .nav-actions a .icon-telekom svg {
  height: 18px;
}

header nav .nav-actions a:has(.icon-telekom) span:last-of-type {
  display: none;
}

header nav .hamburger {
  appearance: none;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  outline: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  position: relative;
  background: transparent;
}

header nav .hamburger .hamburger-icon {
  display: flex;
}

header nav .hamburger .hamburger-icon svg {
  fill: currentColor;
}

/* quickLinks */
header .quickLinks {
  background-color: var(--colors-brand);
  margin-top: 64px;
  margin-bottom: -64px;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 20px), 50% 100%, 0% calc(100% - 20px));
}

header .quickLinks form {
  position: relative;
  height: 32px;
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0 16px;
}

header .quickLinks form button:has(.icon) {
  display: inline-flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 32px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

header .quickLinks form button[hidden] {
  display: none;
}

header .quickLinks form .icon {
  display: inline-flex;
}

header .quickLinks form button .icon svg {
  fill: currentcolor;
}

header .quickLinks form button:has(.icon-search) {
  left: 18px;
}

header .quickLinks form button:has(.icon-close) {
  top: 0px;
  right: 18px;
}

header .quickLinks form input {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  width: 100%;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.2;
  margin: 0px;
  outline: none;
  appearance: none;
  padding: 7px 36px;
}

header .quickLinks form input::-webkit-search-cancel-button,
header .quickLinks form input::-webkit-search-decoration {
  appearance: none;
}

header .quickLinks form input:hover {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.2);
}

header .quickLinks .nav-sections {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 32px;
}

header .quickLinks ul:first-of-type {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 24px 16px;
  justify-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

header .quickLinks ul:last-of-type {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 48px;
}

header .quickLinks ul:last-of-type ul {
  display: none;
}

header .quickLinks li {
  width: 40px;
  min-height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
}

header .quickLinks li a {
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 600;
  font-size: 14px;
  margin: 0px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 40px;
  min-height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header .quickLinks li:not(:has(> a > .icon)) {
  display: none;
}

/* nav-menu */
header .nav-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100vw - 40px);
  height: 100%;
  z-index: 20;
  overflow: auto;
  transform: translateX(-150vw);
  transition: transform 250ms ease-in-out 0s;
  background: rgb(220, 5, 45);
}

header nav[aria-expanded="true"] ~ .nav-menu {
  transform: translateX(0px);
}

header .nav-menu-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  pointer-events: none;
  background: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 250ms ease-in-out 0s;
  cursor: pointer;
}

header nav[aria-expanded="true"] ~ .nav-menu-backdrop {
  pointer-events: all;
  opacity: .8;
}

header .nav-menu-backdrop .nav-menu-close {
  border: 0;
  background: transparent;
  color: white;
  position: fixed;
  top: 0;
  height: 64px;
  right: 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .nav-menu-backdrop .nav-menu-close svg {
  fill: currentColor;
}

header .nav-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: rgb(255, 255, 255);
}

header .nav-menu-header a:has(.icon-fcbayern) {
  display: grid;
  align-items: center;
  column-gap: 12px;
  grid-template-columns: 32px 1fr;
  text-decoration: none;
}

header .nav-menu-header a:has(.icon-fcbayern) div {
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 24px;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(255, 255, 255);
}

header .nav-menu-header a:has(.icon-fcbayern) div span {
  margin-right: 6px;
}

header .nav-menu-header a:has(.icon-fcbayern) div span:last-of-type {
  display: none;
}

header .nav-menu-header button:has(.icon-user) {
  border: 0;
  background: none;
  padding: 0;
  color: white;
}

header .nav-menu-header .icon-fcbayern,
header .nav-menu-header .icon-user {
  display: flex;
}

header .nav-menu .nav-settings {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

header .nav-menu .nav-settings[hidden] {
  display: none;
}

header .nav-menu .nav-settings ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .nav-menu .nav-settings ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0);
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 3px;
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
  height: 40px;
  line-height: 40px;
  padding-left: 14px;
  padding-right: 14px;
  -webkit-font-smoothing: antialiased;
}

header .nav-menu .nav-settings ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header .nav-menu .theme-sel {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
  min-width: max-content;
  border-radius: 3px;
  height: 28px;
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 600;
  font-size: 14px;
  margin: 12px;
}

header .nav-menu .theme-sel select {
  width: 100%;
  border: none;
  border-radius: 0px;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
  outline: none;
  appearance: none;
  padding: 7px 34px 7px 10px;
}

header .nav-menu .theme-sel svg {
  fill: currentColor;
  position: absolute;
  right: 4px;
}

header .nav-menu form {
  position: relative;
  height: 32px;
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 21px;
  padding: 0 16px;
}

header .nav-menu form button:has(.icon) {
  display: inline-flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 32px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

header .nav-menu form button[hidden] {
  display: none;
}

header .nav-menu form .icon {
  display: inline-flex;
}

header .nav-menu form button .icon svg {
  fill: currentcolor;
}

header .nav-menu form button:has(.icon-search) {
  left: 18px;
}

header .nav-menu form button:has(.icon-close) {
  top: 0px;
  right: 18px;
}

header .nav-menu form input {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  width: 100%;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.2;
  margin: 0px;
  outline: none;
  appearance: none;
  padding: 7px 36px;
}

header .nav-menu form input::-webkit-search-cancel-button,
header .nav-menu form input::-webkit-search-decoration {
  appearance: none;
}

header .nav-menu form input:hover {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.2);
}

header .nav-menu .nav-menu-list,
header .nav-menu .nav-menu-list ul {
  padding: 0px;
  margin: 0px;
  color: rgb(255, 255, 255);
  list-style: none;
}

header .nav-menu .nav-menu-list li {
  padding: 0px 0px 1px 21px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

header .nav-menu .nav-menu-list li a,
header .nav-menu .nav-menu-list li button {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
  padding: 1px 12px 1px 1px;
  border: 0px;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  text-decoration: none;
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
}

header .nav-menu .nav-menu-list > li:has(.icon-overview) + li:has(.icon-overview) + li {
  display: none;
}

header .nav-menu .nav-menu-list li button {
  justify-content: space-between;
}

header .nav-menu .nav-menu-list li button svg {
  fill: currentColor;
}

header .nav-menu .nav-menu-list li button + ul {
  padding: 0px;
  margin: 0px;
  max-height: 0px;
  overflow: hidden;
}

header .nav-menu .nav-menu-list li button + ul li {
  border: none;
}

header .nav-menu .nav-menu-list li button + ul li a {
  height: 40px;
}

header .nav-menu .nav-menu-list li button + ul li a .icon-overview {
  display: flex;
  margin-left: 7px;
}

header .nav-menu .nav-menu-list li button + ul li a .icon-overview svg {
  fill: currentColor;
}

header .nav-menu .nav-menu-list li button.is-open + ul {
  max-height: 100%;
}

header .nav-menu .nav-menu-list li button.is-open svg {
  transform: rotateZ(180deg);
}

header .nav-menu a:has(.icon-shop) {
  color: rgb(220, 5, 45);
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  border-radius: 4px;
  padding: 0px 8px;
  background: rgb(255, 255, 255);
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  margin: 24px 24px 0px;
  text-decoration: none;
}

header .nav-menu a .icon-shop {
  margin-right: 6px;
  display: flex;
}

header .nav-menu .nav-overview ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 24px;
  box-sizing: border-box;
  margin: 10px 0;
}

header .nav-menu .nav-overview ul li {
  display: inline-flex;
  list-style: none;
  padding: 0px;
  margin: 0px 20px 4px 0px;
  color: rgb(255, 255, 255);
}

header .nav-menu .nav-overview ul li a {
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 600;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  padding: 5px 0px 2px;
  margin-bottom: 0.5px;
  height: 36px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header .nav-menu .nav-overview ul li a .icon {
  margin-left: 8px;
}

header .nav-menu .nav-overview ul li a .icon svg {
  fill: currentColor;
}

header .nav-menu .lang-sel {
  font-family: FCBayernSans, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  width: max-content;
  height: 24px;
  margin-left: 18px;
  margin-bottom: 40px;
}

header .nav-menu .lang-sel svg {
  display: flex;
  fill: currentColor;
  position: absolute;
  pointer-events: none;
}

header .nav-menu .lang-sel select {
  width: 100%;
  border: none;
  border-radius: 0px;
  color: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.1;
  outline: none;
  appearance: none;
  background: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px 21px;
}

header .nav-menu .lang-sel select option {
  width: min-content;
  padding-left: 0px;
  padding-right: 0px;
  color: rgb(0, 0, 0);
}
