.footer > div {
    margin: auto;
    background-color: var(--overlay-background-color);
    font-size: var(--body-font-size-s);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer a:any-link {
    color: var(--colors-interactions-primary-color);
}

.footer .partner-header {
    line-height: 1.1;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 32px;
}

@media (max-width: 679px) {
    .footer .partner-header {
        margin: auto auto 24px;
    }
}

.footer .partner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 24px;
    justify-content: space-between;
}

.footer .partner-container ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0 32px;
    align-items: center;
    max-width: 760px;
}

.footer .partner-container ul li a span {
    margin: 0 20px 32px;
    display: block;
}

@media (max-width: 679px) {
    .footer .partner-container ul li a span {
        /* margin: 0 10px 16px; */
        margin: 0;
    }

    .footer .partner-container ul li a span svg {
        scale: 50%;
    }

    .footer .partner-container ul li a span img {
        scale: 50%;
    }
}

.footer-navigation {
    width: 100%;
    max-width: 740px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    margin-bottom: 48px;
    font-size: var(--heading-font-size-xs);
    line-height: 18px;
}

@media (max-width: 679px) {
    .footer-navigation {
        display: none;
    }
}

.footer-navigation-item > p {
    font-weight: bold;
    line-height: 1.1;
}

.footer-navigation-item ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.footer-main-navigation {
    margin-bottom: 32px;
    max-width: 640px;
}

@media (max-width: 679px) {
    .footer-main-navigation {
        margin-bottom: 24px;
        max-width: 360px;
    }
}

.footer-main-navigation ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    align-items: center;
    padding-inline-start: 0;
    gap: 20px;
}

.footer-main-navigation ul li {
    display: block;
    white-space: nowrap;
    line-height: 1.1;
    font-weight: 600;
    font-size: var(--heading-font-size-s);
    padding: 0 2px !important;
}

.footer .socialmedia-container ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 20px;
}

.footer .socialmedia-container {
    display: flex;
    justify-content: space-between;
}

.footer .socialmedia-container svg {
  fill: #fff;
}

@media (max-width: 679px) {
    .footer .socialmedia-container svg {
        scale: 50%;
    }
}

.footer-bottom {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 48px;
    margin-left: 24px;
    margin-bottom: 24px;
    justify-content: space-between;
}

@media (max-width: 679px) {
    .footer-bottom {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0 24px;
        margin-bottom: 24px;
    }
}

.footer-legal {
    display: flex;
    flex-direction: column;
}

@media (max-width: 679px) {
    .footer-legal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }
}

.footer-legal > p {
    line-height: 1.1;
    font-size: var(--heading-font-size-xs);
    color: white;
    margin-block-end: 0;
}

.footer-legal ul {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    text-indent: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    padding-inline-start: 0;
    line-height: 1.5;
}

@media (max-width: 679px) {
    .footer-legal ul {
        justify-content: center;
    }
}

.footer-legal ul li {
    display: block;
    white-space: nowrap;
    line-height: 1.1;
    font-size: var(--heading-font-size-xs);
    padding: 0 2px !important;
    margin: 0 3.5px;
    color: white;
}

.bottom-partners {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0 32px;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 760px;
}

.bottom-partners li {
    display: inline-flex;
    margin-top: 0;
    margin-right: 12px;
    margin-left: 16px;
    margin-bottom: 0;
}

