main .newsletter-overlay-wrapper {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
  z-index: 99;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .newsletter-overlay-wrapper--visible {
  display: flex;
}

main .newsletter-overlay {
  position: relative;
  box-sizing: border-box;
  height: 390px;
  width: 700px;
  padding: 24px 24px 24px 190px;
  background: url('/styles/overlay-background.webp') no-repeat 30px bottom, radial-gradient(circle at 600px 0, #c9292e 0, #66252a 115%) #c9292e;
  border-radius: 6px;
  color: white;
}

main .newsletter-overlay h2 {
  margin: 0;
  font-weight: 800;
  letter-spacing: .02rem;
  color: white;
}

main .newsletter-overlay ul {
  padding: 0;
  font-size: 1.1rem;
  color: #fdd;
  list-style-type: none;
}


main .newsletter-overlay li {
  margin: 8px 0;
}

main .newsletter-overlay li::before {
  margin-right: 8px;
  content: '-';
}

main .newsletter-overlay :any-link {
  color: white;
}

main .newsletter-overlay > div:last-of-type {
  font-size: .8rem;
}

main .newsletter-overlay > div:last-of-type :any-link {
  font-weight: bold;
}

main .newsletter-overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 0;
}

main .newsletter-overlay-close::before {
  content: '✕';
  padding: 1rem 1.4rem;
  list-style: 1rem;
  color: #fdd;
}