main .newsletter-overlay-wrapper {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
  z-index: 99;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .newsletter-overlay-wrapper--visible {
  display: flex;
}

main .newsletter-overlay {
  position: relative;
  background: url('/styles/overlay-background.webp') no-repeat 40px bottom, radial-gradient(circle at top right, #c9292e 0, #66252a 100%) #c9292e;
  padding: 1rem 1rem 1rem 200px;
  color: white;
  width: 600px;
}

main .newsletter-overlay h2 {
  color: white;
}

main .newsletter-overlay :any-link {
  color: white;
}

main .newsletter-overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 0;
}

main .newsletter-overlay-close::before {
  content: '✕';
  padding: .5rem .7rem;
  list-style: 1rem;
  color: white;
}