/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* FCB light theme */
  --colors-brand: #dc052d;
  --colors-interactions-focus: #0083e5;
  --colors-interactions-stroke: rgba(0, 47, 108, 0.1);
  --colors-interactions-tapHighlightColor: transparent;
  --colors-interactions-primary-color: #ffffff;
  --colors-interactions-primary-background: #0066b2;
  --colors-interactions-primary-hover-color: #ffffff;
  --colors-interactions-primary-hover-background: #0083e5;
  --colors-interactions-primary-disabled-color: rgba(255, 255, 255, 0.55);
  --colors-interactions-primary-disabled-background: #0066b2;
  --colors-interactions-secondary-color: #0066b2;
  --colors-interactions-secondary-background: rgba(0, 102, 178, 0.05);
  --colors-interactions-secondary-hover-color: #0066b2;
  --colors-interactions-secondary-hover-background: rgba(0, 102, 178, 0.15);
  --colors-interactions-secondary-disabled-color: rgba(0, 102, 178, 0.55);
  --colors-interactions-secondary-disabled-background: rgba(0, 102, 178, 0.05);
  --colors-interactions-secondary-selected-color: #ffffff;
  --colors-interactions-secondary-selected-background: #dc052d;
  --colors-interactions-tertiary-color: #0066b2;
  --colors-interactions-tertiary-background: rgba(255, 255, 255, 0.001);
  --colors-interactions-tertiary-hover-color: #0066b2;
  --colors-interactions-tertiary-hover-background: rgba(0, 102, 178, 0.05);
  --colors-interactions-tertiary-disabled-color: rgba(0, 102, 178, 0.55);
  --colors-interactions-tertiary-disabled-background: rgba(
    255,
    255,
    255,
    0.001
  );
  --colors-interactions-tertiary-selected-color: #0066b2;
  --colors-interactions-tertiary-selected-background: rgba(0, 102, 178, 0.05);
  --colors-interactions-delete-color: #ffffff;
  --colors-interactions-delete-background: #dc052d;
  --colors-interactions-delete-hover-color: #ffffff;
  --colors-interactions-delete-hover-background: #ff4d5b;
  --colors-interactions-delete-disabled-color: rgba(255, 255, 255, 0.55);
  --colors-interactions-delete-disabled-background: #dc052d;
  --colors-interactions-success-color: #000e29;
  --colors-interactions-success-background: #8ae599;
  --colors-interactions-error-color: #dc052d;
  --colors-interactions-error-background: rgba(220, 5, 45, 0.1);
  --colors-interactions-error-border: #dc052d;
  --colors-interactions-error-hover-color: #dc052d;
  --colors-interactions-error-hover-background: rgba(220, 5, 45, 0.2);
  --colors-interactions-switchOn-color: #ffffff;
  --colors-interactions-switchOn-background: #0066b2;
  --colors-interactions-switchOn-boxShadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  --colors-interactions-switchOn-border: #000000;
  --colors-interactions-switchOn-hover-color: #ffffff;
  --colors-interactions-switchOn-hover-background: #0083e5;
  --colors-interactions-switchOn-hover-boxShadow: 0px 2px 4px
    rgba(0, 0, 0, 0.24);
  --colors-interactions-switchOn-disabled-color: rgba(255, 255, 255, 0.5);
  --colors-interactions-switchOn-disabled-background: #0066b2;
  --colors-interactions-switchOn-disabled-boxShadow: 0px 2px 4px
    rgba(0, 0, 0, 0);
  --colors-interactions-switchOff-color: #ffffff;
  --colors-interactions-switchOff-background: rgba(0, 102, 178, 0.05);
  --colors-interactions-switchOff-boxShadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  --colors-interactions-switchOff-border: none;
  --colors-interactions-switchOff-hover-color: #ffffff;
  --colors-interactions-switchOff-hover-background: rgba(0, 102, 178, 0.15);
  --colors-interactions-switchOff-hover-boxShadow: 0px 2px 4px
    rgba(0, 0, 0, 0.24);
  --colors-interactions-switchOff-disabled-color: rgba(255, 255, 255, 0.5);
  --colors-interactions-switchOff-disabled-background: rgba(0, 102, 178, 0.05);
  --colors-interactions-switchOff-disabled-boxShadow: 0px 2px 4px
    rgba(0, 0, 0, 0);
  --colors-backgrounds-content: #fff;
  --colors-backgrounds-card: #f5f7f9;
  --colors-backgrounds-outside: #ebedf0;
  --colors-canvas-playerCard: linear-gradient(180deg, #76232f 0%, #dc052d 100%);
  --colors-canvas-playerCardAwayTeam: linear-gradient(
    180deg,
    #002f6c 0%,
    #2b6bbd 100%
  );
  --colors-canvas-contentLayoutCard-background: #f2f5f8;
  --colors-canvas-contentLayoutCard-hover-background: #f2f5f8;
  --colors-canvas-contentLayoutCard-hover-boxShadow: 0px 4px 16px
    rgba(0, 0, 0, 0.16);
  --colors-canvas-cardLayoutCard-background: #fff;
  --colors-canvas-cardLayoutCard-boxShadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
  --colors-canvas-cardLayoutCard-hover-background: #fff;
  --colors-canvas-cardLayoutCard-hover-boxShadow: 0px 4px 16px
    rgba(0, 0, 0, 0.16);
  --colors-canvas-promotionCard-background: linear-gradient(
    0deg,
    #76232f 0%,
    #dc052d 100%
  );
  --colors-canvas-skeleton-backgroundColor: #dce1e6;
  --colors-canvas-skeleton-backgroundPosition: 0 0;
  --colors-canvas-skeleton-backgroundSize: 300% 300%;
  --colors-canvas-skeleton-backgroundImage: linear-gradient(
    135deg,
    rgba(249, 250, 251, 0) 40%,
    rgba(249, 250, 251, 0.4) 50%,
    rgba(249, 250, 251, 0) 60%
  );
  --colors-canvas-placeholder: linear-gradient(
    134.82deg,
    rgba(220, 225, 230, 0) 0%,
    #dce1e6 100%
  );
  --colors-text-title: #002f6c;
  --colors-text-default: #002f6c;
  --colors-text-article: rgba(0, 0, 0, 0.8);
  --colors-text-secondary: rgba(0, 47, 108, 0.65);
  --colors-text-category: #dc052d;
  --colors-text-error: #dc052d;
  --colors-text-errorMessage: #dc052d;
  --colors-text-link: #0066b2;
  --colors-text-linkSecondary: #002f6c;
  --colors-text-linkFocus: #ffffff;
  --colors-sonderotto-accordionHover: linear-gradient(
    180deg,
    rgba(0, 102, 178, 0.05) 0%,
    rgba(0, 102, 178, 0) 100%
  );
  --colors-sonderotto-matchCenterJersey: rgba(255, 255, 255, 0.55);
  --colors-sonderotto-matchBarBackground: rgba(0, 47, 108, 0.2);
  --colors-sonderotto-matchSubFor: rgba(0, 72, 133, 0.55);
  --colors-sonderotto-matchLineupIcons: #000;
  --colors-liveticker-background: rgb(0, 14, 41);
  --colors-liveticker-color: #fff;

  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --body-background-color: #ebedf0;
  --card-background-color: #fff;
  --overlay-background-color: #dc002d;
  --highlight-background-color: #ccc;
  --section-backgrounds-color: #f5f7f9;
  --text-color: #002f6c;
  --text-title-color: #002f6c;

  /* fonts */
  --body-font-family: FCBayernSans, Arial, Helvetica, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono',
    monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 28px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 12px;
}

html,
body {
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  display: none;
  font-family: var(--body-font-family);
  width: 100%;
  min-height: 100vh;
  min-width: 312px;
  background: var(--colors-backgrounds-outside);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  color: var(--text-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: 386px;
  position: relative;
  z-index: 99;
  overflow: hidden;
  background-color: var(--colors-brand);
}

header:has(img) {
  background-color: unset;
}

/* tablet */
@media (min-width: 764px) {
  header {
    background-color: var(--colors-brand);
    height: 140px;
    padding: 0;
  }
  header:has(img) {
    background-color: var(--colors-brand);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  color: var(--text-title-color);
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}
h2 {
  font-size: var(--heading-font-size-xl);
}
h3 {
  font-size: var(--heading-font-size-l);
}
h4 {
  font-size: var(--heading-font-size-m);
}
h5 {
  font-size: var(--heading-font-size-s);
}
h6 {
  font-size: var(--heading-font-size-xs);
}

.hnBTBc {
  font-family: FCBayernSans, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.1;
  font-weight: bold;
  font-size: 28px;
  margin: 0px 0px 16px;
  text-transform: uppercase;
  color: var(--colors-text-title);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link,
button {
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  color: var(--colors-interactions-secondary-color);
  background: var(--colors-interactions-secondary-background);
}

a.button.secondary:hover,
button.secondary:hover {
  color: var(--colors-interactions-secondary-hover-color);
  background: var(--colors-interactions-secondary-hover-background);
}

a.button.secondary:active,
button.secondary:active {
  color: var(--colors-interactions-secondary-hover-color);
  background: var(--colors-interactions-secondary-hover-background);
}

button.secondary:disabled,
button.secondary:disabled:hover {
  color: var(--colors-interactions-secondary-disabled-color);
  background: var(--colors-interactions-secondary-disabled-background);
}

a.button.secondary.selected,
button.secondary.selected {
  color: var(--colors-interactions-secondary-selected-color);
  background: var(--colors-interactions-secondary-selected-background);
}

a.button.secondary.selected:hover,
button.secondary.selected:hover {
  color: var(--colors-interactions-secondary-selected-color);
  background: var(--colors-interactions-secondary-selected-background);
}

a.button.secondary.selected:active,
button.secondary.selected:active {
  color: var(--colors-interactions-secondary-selected-color);
  background: var(--colors-interactions-secondary-selected-background);
}

button.secondary.selected:disabled,
button.secondary.selected:disabled:hover {
  color: var(--colors-interactions-secondary-disabled-color);
  background: var(--colors-interactions-secondary-disabled-background);
}

main {
  max-width: 1280px;
  margin: auto;
  margin-top: -20px;
}

@media (min-width: 764px) {
  main {
    margin-top: 0;
  }
}

main input,
main select {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  width: 100%;
  max-width: 100vw;
  margin: 0px auto;
  min-height: inherit;
  color: var(--text-color);
  background: var(--section-backgrounds-color);
}

main .section > div {
  padding: 0 24px;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (min-width: 600px) {
  main .section > div {
    padding: 0 16px;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 36px;
    --heading-font-size-xl: 28px;
    --heading-font-size-l: 24px;
    --heading-font-size-m: 20px;
    --heading-font-size-s: 14px;
    --heading-font-size-xs: 12px;
  }

  main {
    max-width: 1280px;
    margin: auto;
  }
}

/* progressive section appearance */
main .section[data-section-status='loaded-below-the-fold'],
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

/* ----------- news page specific settings ------------*/
/* fonts */
.newstheme main {
  font-family: var(--body-font-family);
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  background-color: white;
}

.newstheme main a {
  font-family: var(--body-font-family);
  line-height: 1.1;
  font-weight: 600;
  font-size: 16px;
  color: var(--colors-text-link);
  display: inline;
  box-sizing: border-box;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  outline: none;
  margin: 0px -2px -3px ;
  padding: 0px 2px ;
}

.newstheme main a:hover {
  color: var(--colors-text-link);
  border-bottom: 2px solid currentcolor;
}


.newstheme main :not(.news-header) h2 {
  font-family: var(--body-font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--colors-text-title);
  margin: 32px 0px 16px;
  line-height: 130%;
}

/* widths */
@media (min-width: 764px) {
  .newstheme main {
    padding-top: 0px;
  }
}

@media (min-width: 680px) {
  .newstheme main {
    max-width: 1280px;
  }
}

.newstheme main .hero {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.newstheme main .hero-wrapper {
  padding: 0;
}

.newstheme main .section:not(.hero-container) {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 100%;
  margin: 0px auto;
  min-height: inherit;
  color: var(--colors-text-default);
  background-color: white;
}

@media (min-width: 680px) {
  .newstheme main .section:not(.hero-container) {
    flex: 1 1 100%;
  }
}

@media (min-width: 1368px) {
  .newstheme main .section:not(.hero-container) {
    max-width: 816px;
  }
}

.newstheme main .section:not(.hero-container) .default-content-wrapper {
  padding: 0;
}

.newstheme main .default-content-wrapper p {
  font-family: FCBayernSans, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 16px;
}


/* ----------- liveticker page specific settings ------------*/
.liveticker main .section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.liveticker main .section > div {
  max-width: 816px;
}

.liveticker main .section p {
  padding-right: 22px;
  font-family: var(--body-font-family);
  margin-top: 0px;
  padding: 0px;
  max-width: 716px;
}

.liveticker main .section > div > div {
  display: flex;
  align-items: baseline;
  align-content: flex-start;
}

.liveticker main .section .left {
  width: 120px;
  display: flex;
  justify-content: flex-end;
}

.liveticker main .section .left,
.liveticker main .section .right {
  align-self: flex-start;
}

.liveticker main .section .time {
  text-align: right;
  padding-left: 10px;
  padding-right: 20px;

  align-self: flex-start;
}

.liveticker main .section h2, 
.liveticker main .section h3  {
  margin-top: 0;
}

.liveticker main .section h2,
.liveticker main .section h3,
.liveticker main .section .time {
  font-size: 1.17em;
  font-weight: 700;
  font-size: var(--heading-font-size-l);
  font-family: var(--heading-font-family);
  color: var(--text-title-color);
  line-height: 1.25;
}

.liveticker main .section .yellow,
.liveticker main .section .red {
  fill: none;
}
